body{
  text-align:center;
}
div#container{
  width:300px;
  height: 200px;
  border:solid green;
  position:relative;
}
div#box{
  width:10px;
  height:10px;
  background-color:black;
  position:absolute;

}
